{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>WatchVista</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link href="{% static 'style.css' %}" rel="stylesheet"> 
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->
      <link href="{% static 'css/responsive.css' %}" rel="stylesheet"> 
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- owl stylesheets --> 
      <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">  
      <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section" style="background-image: url({% static 'img/banner-bg.png' %})">
         <div class="header_main" style="background-image: url({% static 'img/header-bg.png' %})">
            <div class="mobile_menu">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="logo_mobile"><a href="http://127.0.0.1:8000/homelog/"><img src="{% static 'img/logo.png' %}"></a></div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav">
                        <li class="nav-item active">
                           <a class="nav-link" href="http://127.0.0.1:8000/homelog/">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="http://127.0.0.1:8000/aboutlog/">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="http://127.0.0.1:8000/shoplog/">Watchs</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="http://127.0.0.1:8000/reviewlog/">Testimonial</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="http://127.0.0.1:8000/contact/">Contact</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="#"><img src="{% static 'img/search-icon.png' %}"></a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
            <div class="container-fluid">
               <div class="logo"><a href="http://127.0.0.1:8000/homelog/" style="font-size: 25px;">WatchVista</a></div>
               <div class="menu_main">
                  <ul>
                     <li class="active"><a href="http://127.0.0.1:8000/homelog/">Home</a></li>
                     <li><a href="http://127.0.0.1:8000/aboutlog/">About</a></li>
                     <li><a href="http://127.0.0.1:8000/shoplog/">Watchs</a></li>
                     <li><a href="http://127.0.0.1:8000/reviewlog/">Testimonial</a></li>
                     <li><a href="http://127.0.0.1:8000/contactlog/">Contact us</a></li>
                     <li><a href="http://127.0.0.1:8000/">Logout</a></li>
                     <li><a href="http://127.0.0.1:8000/cart/"><img style="width: 25px;" src="{% static 'img/cart-icon.webp' %}"></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
         <!-- banner section start -->
         <div class="banner_section layout_padding" style="background-image:url({% static "img/banner-bg.png" %});">
            <div id="main_slider" class="carousel slide" data-ride="carousel" >
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <h1 class="banner_taital">Watchs</h1>
                        <p class="banner_text">There are many variety of Watches avaiable at WatchVista</p>
                        <div class="read_bt"><a href="http://127.0.0.1:8000/shoplog/">Buy Now</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <h1 class="banner_taital">Analog Watchs</h1>
                        <p class="banner_text">Analog watches are timeless timepieces that display the current time using hour, minute, and sometimes second hands on a dial marked with numbers or hour markers</p>
                        <div class="read_bt"><a href="http://127.0.0.1:8000/shoplog/">Buy Now</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <h1 class="banner_taital">Digital Watchs</h1>
                        <p class="banner_text">Digital watches are modern timepieces that display the current time in numerical format using electronic displays, typically LED or LCD screens</p>
                        <div class="read_bt"><a href="http://127.0.0.1:8000/shoplog/">Buy Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         <!-- banner section end -->
      </div>
      <!-- header section end -->
      <!-- background bg start -->
      <div class="background_bg" style="background-image: url({% static 'img/background-bg.png' %})">
         <!-- watchs section start -->
         <div class="watchs_section layout_padding">
            <div class="container">
               <h1 class="watchs_taital">01<br>Our Watchs</h1>
    <br><br><br><br><br><br><br>
               <div class="watchs_section_2">
                  <div class="row">
                     {% for product in products %}
            <div style="position: relative; width:90%; height:200px; border: 2px solid white; left:50px;">
               <div style="position: relative; width:15%; height:160px; border: 2px solid white; left:10px; top:20px; overflow: hidden;">
                  <img src="{{ product.image.url }}" style="width: 100%; height: auto;">
              </div>              
               <div style="position: relative; left:280px; top:-130px; color:white; font-size: 22px;">
                  {{ product.name }}
               </div>
               <div style="position: relative; left:280px; top:-130px; color:white; font-size: 17px;">
                  {{ product.description }}
               </div>
               <div style="position: relative; left:280px; top:-130px; color:white; font-size: 17px;">
                  ₹ {{ product.price }}
               </div>
               <form method="post" action="{% url 'shoplog' %}">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{ product.name }}">
                  <input type="hidden" name="image" value="{{ product.image.url }}">
                  <input type="hidden" name="name" value="{{ product.name }}">
                  <input type="hidden" name="price" value={{ product.price }}>
                  <button id="buy_now_btn" style="position:relative; width:150px; height:35px;  background-color:red; color:white; left: 84%; bottom: 195px;">Buy Now</button>
              </form>
            </div>
        {% endfor %}
         <!-- watchs section end -->
         <!-- about section start -->
         <div class="about_section layout_padding">
            <div class="container">
               <h1 class="watchs_taital">02<br>About Shop</h1>
               <div class="about_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <p class="about_text">This is a watch store where you can find 
                           watches of your taste. We have a wide range of watches. Our 
                           collection includes classic watches, smart watches, fitness 
                           watches, casual wear watches.
                        </p>
                        <div class="read_bt1"><a href="http://127.0.0.1:8000/shoplog/">Buy Now</a></div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_2"><img src="{% static 'img/img-3.png' %}"></div>
                     </div>
                  </div>
               </div>
               <div class="about_section_3">
                  <div class="row">
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="{% static 'img/img-4.png' %}"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="{% static 'img/img-5.png' %}"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="{% static 'img/img-6.png' %}"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="{% static 'img/img-7.png' %}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- about section end -->
         <!-- testimonial section start -->
         <div class="testimonial_section layout_padding" style="background-image: url({% static 'img/testimonial-bg.png' %})">
            <div class="container">
               <h1 class="watchs_taital">03<br>Testimonial</h1>
               
            <br><br><br><br><br><br><br><br>
               <ul>
                  {% for entry in feedback_entries %}
                  <div style="border: 2px solid white; height:100px;">
                     <li>
                        <div style="color:white; font-size:20px; position:relative; left:20px; top:10px; text-weight:large;">{{ entry.name }}</div>
                        <div style="color:white; font-size:15px; position:relative; left:20px;">{{ entry.feedback }}<div>
                        </li>
                  </div>
                  <br><br>
                  {% endfor %}
              </ul>
               </div><br><br>
               <button style="position:relative; left:45%; top:40px; height:50px; width:150px;
               border-radius:20px; color:white; background-color:red;" id="redirectButton">Add your review</button>
            <br><br><br><br><br><br>
            </div>
         </div>
         <!-- testimonial section end -->
         <!-- contact section start -->
         <div class="contact_section layout_padding" style="background-image: url({% static 'img/contact-bg.png' %})">
            <div class="container">
               <h1 class="watchs_taital">04<br>Get In Touch</h1>
            </div>
            <div class="contact_section_2">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="mail_section_1">
                           <input type="text" class="mail_text" placeholder="Your Name" name="Your Name">
                           <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                           <input type="text" class="mail_text" placeholder="Email" name="Email">
                           <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                           <div class="send_bt"><a href="#">SEND</a></div>
                        </div>
                     </div>
                     <div class="col-md-6 padding_right_0">
                        <div class="map_section"><img src="{% static 'img/map-img.png' %}"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- contact section end -->
      </div>
      <!-- background bg end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding" style="background-image: url({% static 'img/footer-bg.png' %})">
         <div class="container">
            <h3 class="follow_text">Follow Now</h3>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="{% static 'img/fb-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'img/twitter-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'img/linkedin-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'img/instagram-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'img/youtub-icon.png' %}"></a></li>
               </ul>
            </div>
            <div class="location_main">
               <div class="location_left">
                  <div class="call_text"><a href="#"><img src="{% static 'img/map-icon.png' %}"><span class="call_padding">Location</span></a></div>
               </div>
               <div class="location_middle">
                  <div class="call_text"><a href="#"><img src="{% static 'img/mail-icon.png' %}"><span class="call_padding">demo@gmail.com</span></a></div>
               </div>
               <div class="location_right">
                  <div class="call_text"><a href="#"><img src="{% static 'img/call-icon.png' %}"><span class="call_padding">Call +01 1234567890</span></a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2020</p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>